@page
@using Grpc.Net.Client
@using Nikki.Client.Services
@model Nikki.Client.Pages.Index

@{
    Layout = "Shared/_Layout";
    ViewBag.IsAuth = new AuthValidationService().ValidateUserAuth(Request, Response);
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title></title>
</head>
<body>
<div>

</div>
</body>
</html>