@page
@using Grpc.Net.Client
@using Nikki.Auth
@using Nikki.Client.Services
@model Nikki.Client.Pages.Index

@{
    Layout = "Shared/_Layout";
    ViewBag.IsAuth = ViewData["IsAuth"] ?? false;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title></title>
</head>
<body>
<div>

</div>
</body>
</html>