@page
@model Nikki.Client.Pages.LogIn

@{
    Layout = "Shared/_Layout";
    ViewBag.IsAuth = false;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Log In</title>
    <link rel="stylesheet" href="/css/logIn.css"/>
</head>
<body>
<div class="log">
    <div class="container">
        <div class="log_content">
            <p class="login_title">Log In</p>
            <form class="log_form" method="post">
                <div class="log_form-item">
                    <a>Enter your username or email:</a>
                    <label>
                        <input name="log" type="text">
                    </label>
                    @if (Model.UsernameErrors is not null)
                    {
                        <ul class="log_errors">
                            @foreach (var error in Model.UsernameErrors)
                            {
                                <li>@error</li>
                            }
                        </ul>
                    }
                </div>
                <div class="log_form-item">
                    <a>Enter your password:</a>
                    <label>
                        <input name="password" type="password">
                    </label>
                    @if (Model.PasswordErrors is not null)
                    {
                        <ul class="log_errors">
                            @foreach (var error in Model.PasswordErrors)
                            {
                                <li>@error</li>
                            }
                        </ul>
                    }
                </div>
                <button class="log_form-btn" type="submit">
                    Submit
                </button>
            </form>
        </div>
    </div>
</div>
</body>
</html>