@page
@using Nikki.Client.Services
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Nikki.Client.Pages.Notice

@{
    Layout = "Shared/_Layout";
    ViewBag.IsAuth = ViewData["IsAuth"] ?? false;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nikki</title>
    <link rel="stylesheet" href="/css/notice.css"/>
</head>
<body>
<div class="notice">
    <div class="container">
        <div class="notice_content">
            <p class="notice_text">Sign in is successful</p>
            <a asp-page="Index" class="notice_btn">Return</a>
        </div>
    </div>
</div>
</body>
</html>