@page
@using Nikki.Client.Services
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Nikki.Client.Pages.SignIn

@{
    Layout = "Shared/_Layout";
    ViewBag.IsAuth = ViewData["IsAuth"] ?? false;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
    <link rel="stylesheet" href="/css/signIn.css"/>
</head>
<body>
<div class="sign">
    <div class="container">
        <div class="sign_content">
            <p class="sign_title">Sign In</p>
            <form class="sign_form" method="post">
                <div class="sign_form-item">
                    <a>Enter your username:</a>
                    <label>
                        <input name="username" type="text">
                    </label>
                    @if (Model.UsernameErrors is not null && Model.UsernameErrors.Length > 0)
                    {
                        <ul class="sign_errors">
                            @foreach (var error in Model.UsernameErrors)
                            {
                                <li>@error</li>
                            }
                        </ul>
                    }
                </div>
                <div class="sign_form-item">
                    <a>Enter your email:</a>
                    <label>
                        <input name="email" type="text">
                    </label>
                    @if (Model.EmailErrors is not null && Model.EmailErrors.Length > 0)
                    {
                        <ul class="sign_errors">
                            @foreach (var error in Model.EmailErrors)
                            {
                                <li>@error</li>
                            }
                        </ul>
                    }
                </div>
                <div class="sign_form-item">
                    <a>Enter your password:</a>
                    <label>
                        <input name="password" type="password">
                    </label>
                    @if (Model.PasswordErrors is not null && Model.PasswordErrors.Length > 0)
                    {
                        <ul class="sign_errors">
                            @foreach (var error in Model.PasswordErrors)
                            {
                                <li>@error</li>
                            }
                        </ul>
                    }
                </div>
                <button class="sign_form-btn" type="submit">
                    Submit
                </button>
            </form>
        </div>
    </div>
</div>
</body>
</html>