@page
@model Nikki.Client.Pages.Spaces

@{
    Layout = "Shared/_Layout";
    ViewBag.IsAuth = true;
    List<string> str = new List<string>() { "qweqwe", "qweasdaqwe", "qweqweq" };
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nikki</title>
    <link rel="stylesheet" href="/css/spaces.css"/>
    <script src="/js/scripts.js"></script>
</head>
<body>
<div class="main">
    <div class="container">
        <div class="main_content">
            <div class="main_sidebar" id="sidebar">
                <p class="sidebar_title" onclick="openSidebar()">
                    Your spaces
                    <img class="sidebar_title-img" src="/png/arrow.png" height="512" width="512" alt=""/>
                </p>
                <ul>
                    @foreach (var item in str)
                    {
                        <li class="sidebar_item" id="@item">
                            <p class="sidebar_item-name"
                               onclick="openItem(@item)">
                                Space 1
                                <img class="sidebar_item-img" src="/png/arrow.png" height="512" width="512" alt="">
                            </p>
                            <ul class="item_list">
                                <li class="item_content">
                                    Table 1
                                </li>
                                <li class="item_content">
                                    Table 2
                                </li>
                                <li class="item_content">
                                    Table 3
                                </li>
                            </ul>
                        </li>
                    }
                </ul>
            </div>
            <div class="main_sidebar-hidden" id="sidebar-hidden" onclick="openSidebar()">
                <img class="sidebar_hidden-img" src="/png/arrow.png" height="512" width="512" alt=""/>
            </div>
            <div class="main_space">
                <div class="space_title">
                    <p class="space_title-text">
                        Space name
                    </p>
                    <div class="space_title-btn">
                        <img class="btn-img" src="/png/plus.png" alt=""/>
                    </div>
                </div>
                <div class="space_content">
                    @foreach (var item in str)
                    {
                        <div class="space_content-item">
                            @item
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>