* {
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
}

a {
    text-decoration: unset;
    color: black;
}

input {
    height: 50px;
    width: 450px;
    font-size: 24px;
    padding-left: 10px;
    margin: 15px 0;
}

.container {
    margin: 0 auto;
}

.sign {
    display: grid;
    margin-top: 150px;
}

.sign_content {
    grid-template-rows: repeat(5, auto);
    width: 500px;
    border: 1px solid black;
}

.sign_title {
    font-size: 36px;
    font-weight: bold;
    line-height: 110px;
    text-align: center;
}

.sign_form {
    display: grid;
    font-size: 24px;
}

.sign_form-item {
    margin-bottom: 42px;
    margin-left: 25px;
}

.sign_form-btn {
    width: 240px;
    height: 50px;
    justify-self: center;
    font-size: 24px;
    background-color: unset;
    border: 1px solid black;
    margin-bottom: 50px;
}

.sign_errors {
    font-size: 16px;
    color: red;
}