* {
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
}

a {
    text-decoration: unset;
    color: black;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
    padding: 0;
}

input {
    height: 50px;
    width: 450px;
    font-size: 24px;
    padding-left: 10px;
    margin: 15px 0;
}

select {
    height: 50px;
    width: 450px;
    font-size: 24px;
    padding-left: 10px;
    margin: 15px 0;
}

.container {
    margin: 0 auto;
}

.main_content {
    display: flex;
}

.main_sidebar {
    border-right: 1px solid black;
    max-width: 270px;
    height: 100vh;
    display: none;
    flex-grow: 1;
}

.sidebar_title {
    display: grid;
    grid-template-columns: repeat(2, auto);
    font-size: 24px;
    line-height: 52px;
    padding-left: 20px;
    border-bottom: 1px solid black;
}

.sidebar_title-img {
    height: 24px;
    width: 24px;
    justify-self: center;
    align-self: center;
    rotate: 180deg;
}

.sidebar_item {
    width: 270px;
}

.sidebar_item-name {
    font-size: 20px;
    line-height: 52px;
    padding-left: 20px;
    align-self: start;
    display: grid;
    grid-template-columns: repeat(2, auto);
    border-bottom: 1px solid black;
}

.sidebar_item-name:hover {
    background-color: darkgrey;
}

.sidebar_item-img {
    height: 18px;
    width: 18px;
    justify-self: center;
    margin-left: 50px;
    rotate: 90deg;
    align-self: center;
}

.item_list {
    display: none;
}

.item_content {
    width: 270px;
    font-size: 18px;
    line-height: 40px;
    padding-left: 20px;
    border-bottom: 1px solid black;
}

.item_content:hover {
    background-color: darkgrey;
}

.main_sidebar-hidden {
    display: grid;
    border-right: 1px solid black;
    height: 100vh;
    flex-grow: 2;
    max-width: 50px;
}

.sidebar_hidden-img {
    height: 24px;
    width: 24px;
    justify-self: center;
    margin-top: 15px;
}

.main_space {
    flex-grow: 3;
}

.space_title {
    font-size: 24px;
    border-bottom: 1px solid black;
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.space_title-text {
    line-height: 52px;
    padding-left: 30px;
}

.space_title-btn {
    border: 1px solid black;
    height: 40px;
    width: 40px;
    display: grid;
    align-content: center;
    justify-content: center;
    align-self: center;
    justify-self: end;
    margin-right: 30px;
}

.btn-img {
    height: 24px;
    width: 24px;
}

.space_content {
    display: flex;
    flex-wrap: nowrap;
    margin: 50px;
}

.space_content-item {
    width: 350px;
    min-height: 200px;
    display: inline-block;
    margin-right: 50px;
}

.content_title {
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.content_title-text {
    line-height: 60px;
    font-size: 24px;
    padding-left: 15px;
}

.content_title-btn {
    justify-self: end;
    align-self: center;
    margin-right: 12px;
    border: 1px solid black;
    height: 35px;
    width: 35px;
    display: grid;
    justify-content: center;
    align-content: center;
}

.content_title-img {
    height: 26px;
}

.content_item {
    margin-top: 20px;
    border: 1px solid black;
}

.item_name {
    font-size: 16px;
    line-height: 26px;
    padding: 15px 15px;
}

.item_attached {
    display: flex;
    margin: 15px;
}

.item_attached-text {
    font-size: 22px;
    line-height: 26px;
    padding-right: 5px;
}

.item_attached-img {
    height: 26px;
}

.item_buttons {
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin: 20px 5px 20px 15px;
}

.item_buttons-left {
    justify-self: start;
}

.item_buttons-right {
    justify-self: end;
}

.item_buttons-img {
    height: 26px;
    margin-right: 10px;
}

.item_menu {
    position: absolute;
    border: 1px solid black;
    margin-top: 70px;
    z-index: 1000;
    background-color: white;
    display: none;
}

.item_menu-content {
    display: grid;
    grid-template-columns: 60px auto;
    align-items: center;
    width: 250px;
    font-size: 20px;
    line-height: 45px;
    border-bottom: 1px solid black;
}

.item_menu-content-img {
    height: 26px;
    margin: 0 20px;
}

.menu-last {
    border: none;
}

.main_add {
    position: absolute;
    z-index: 10000;
    background-color: white;
    border: 1px solid black;
    display: none;
    justify-content: center;
    justify-self: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.add_choose-title {
    font-size: 24px;
    line-height: 45px;
}

.add_title {
    border-bottom: 1px solid black;
    display: grid;
    grid-template-columns: 100% auto;
}

.add_title-text {
    font-size: 40px;
    font-weight: bold;
    line-height: 100px;
    justify-self: center;
}

.add_title-btn {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-self: end;
    align-self: center;
    margin-right: 30px;
    position: absolute;
}

.add_title-img {
    height: 26px;
    rotate: 45deg;
}

.add_choose-item {
    padding: 10px 30px;
}

.add_choose-btn {
    width: 240px;
    height: 50px;
    justify-self: center;
    font-size: 24px;
    background-color: unset;
    border: 1px solid black;
    margin: 20px 0 40px 0;
}

.item_add {
    position: absolute;
    z-index: 10000;
    background-color: white;
    border: 1px solid black;
    display: none;
    justify-content: center;
    justify-self: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}