<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="/css/layout.css"/>
</head>
<body>
@if (ViewBag.IsAuth)
{
    <div class="header">
        <div class="container">
            <div class="header_content">
                <p class="header_logo">
                    Nikki
                </p>
                <div class="header_navigation">
                    <a href="#">
                        About
                    </a>
                    <a href="#">
                        Contacts
                    </a>
                    <a asp-page="">
                        Account
                    </a>
                    <a asp-page="Logout">
                        Logout
                    </a>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="header">
        <div class="container">
            <div class="header_content">
                <p class="header_logo">
                    Nikki
                </p>
                <div class="header_navigation">
                    <a href="#">
                        About
                    </a>
                    <a href="#">
                        Contacts
                    </a>
                    <a asp-page="SignIn">
                        Sign In
                    </a>
                    <a asp-page="LogIn">
                        Log In
                    </a>
                </div>
            </div>
        </div>
    </div>
}
@RenderBody()
</body>
</html>